<section class="section">
  </div>
  <div class="row container">
    <div class="col s12">
        <h2>Welcome to your Profile</h2>
        <p>strava user name: {{user.user_name}}</p>
        <p>strava id: {{user.user_strava_id}}</p>
        <p>User Full Name: {{user.user_first}} {{user.user_last}}</p>
        <img src={{user.user_photo}}>
    </div>
  </div>
</section>
